<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :dbID %>
    <%= f.text_field :dbID %>
  </div>
  <div class="field">
   <%= f.label :actor %>
   <%= f.collection_select(:actor_ids, Actor.all, :id, :name) %>
  </div>

  <div class="field">
   <%= f.label :director %>
   <%= f.collection_select(:director_ids, Director.all, :id, :name) %>
  </div>

  <div class="field">
   <%= f.label :interested %>
   <%= f.collection_select(:interested, Person.all, :id, :name) %>
  </div>

  <div class="field">
   <%= f.label :not_interested_in %>
   <%= f.collection_select(:not_interested, Person.all, :id, :name) %>
  </div>

  <div class="field">
   <%= f.label :watched_by %>
   <%= f.collection_select(:watched_by, Person.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
